{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>

<h1><strong>Home</strong></h1>
<img src="{% static '/images/aa.jpg' %}" alt="image" style="width: 500px; height: 500px;">
<h3>Mi legado</h3>
<p>Hola me llamo Alejandro Mansilla y esta es mi historia</p>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/articles">Sobre mi</a></li>
</ul>

</body>
</html>
